[Unit]
Description=norns

Requires=sockets.target
Requires=sound.target
Requires=norns-init.service
Requires=norns-jack.service
Requires=norns-crone.service
Requires=norns-sclang.service
Requires=norns-matron.service
Requires=norns-maiden.service

AllowIsolate=yes

[Install]
WantedBy=multi-user.target
