[Unit]
After=norns-jack.service
Requires=norns-jack.service

[Service]
Type=simple
User=we
Group=we
ExecStart=/bin/bash -c '/home/we/norns/build/ws-wrapper/ws-wrapper ws://*:5555 /home/we/norns/build/matron/matron
[Install]
WantedBy=norns.target
